<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
<title>メニュー画面</title>
</head>
<body>
	<h2>こんにちは</h2>
	<div th:fragment="logout" sec:authorize="isAuthenticated()">
	<header>
		<p>
			こんにちは: <span th:text="${loginUser.username}"></span>さん
		</p>
		<p>
			mail: <span th:text="${loginUser.email}"></span>
		</p>
		<p>
			権限: <span th:text="${loginUser.authority}"></span>
		</p>
		<form action="#" th:action="@{/logout}" method="post">
			<input type="submit" value="ログアウト" />
		</form>
	</header>
	<ul>
		<li><a th:href="@{'/userlist/'}">ユーザー一覧画面</a></li>
		<li><a th:href="@{'/user-registration/'}">ユーザー登録画面</a></li>
	</ul>
	</div>
</body>
</html>