<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>UserList</title>
</head>
<body>
	<h2>ユーザー一覧画面</h2>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>ユーザー名</th>
			<th>メールアドレス</th>
			<th>権限</th>
		</tr>
		<tr th:each="user: ${users}">
			<td th:text="${user.id}"></td>
			<td th:text="${user.username}"></td>
			<td th:text="${user.email}"></td>
			<td th:text="${user.authority}"></td>
		</tr>
	</table>

	<br>
	<a th:href="@{'/top/'}">トップ画面へ戻る</a>


</body>
</html>